<div class="input-group">
  <input type="text" class="form-control" placeholder="Търси по име на инструктор" ng-model="params.instructorName">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click="searchByName()">Търси</button>
  </span>
</div>
<br />

<button type="button" class="btn btn-default btn-xs" ng-class="{active: ui.showCities}" ng-click="get('cities')">Град <span class="caret"></span></button>

<button type="button" class="btn btn-default btn-xs" ng-class="{active: ui.showCategories}" ng-click="get('categories')">Категория <span class="caret"></span></button>

<div ng-show="ui.show.cities">
  Градовете се зареждат...
  <ul>
    <li ng-repeat="city in cities" ng-click="select('cities', city)">{{ city }}</li>
  </ul>
</div>

<div ng-show="ui.show.categories">
  Категориите се зареждат...
  <ul>
    <li ng-repeat="category in categories" ng-click="select('categories', category)">{{ category }}</li>
  </ul>
</div>

<br />

<h3>Резултати <span class="label label-default">{{ instructorsData.instructors_count }}</span> </h3>

<instructors-list instructors-data="instructorsData"></instructors-list>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <td width="40%">Име</td>
      <td width="20%">Резултат</td>
      <td width="20%">Населено място</td>
      <td width="20%">Категории</td>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="instructor in instructorsData.instructors">
    <td><a href="/instructors/{{ instructor.id }}">{{ instructor.name }}</a></td>
    <td>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{ instructor.score }}%;">{{ instructor.score }} %</div>
      </div>
    </td>
    <td>{{ instructor.city }}</td>
    <td>
      <span class="label label-primary" ng-repeat="c in instructor.categories">{{ c }}</span>
    </td>
  </tr>
  </tbody>
</table>

<pagination total-items="instructorsData.instructors_count" max-size="10" ng-model="instructorsData.page" ng-change="pageChanged(instructorsData.page)"></pagination>

